# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Chad Jemmett
    email = cjemmett@wehco.com
[core]
	excludesfile = /Users/cjem/.gitignore_global
